body {
  margin: 0;
  background-color: rgb(238, 247, 251);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-layout {
  display: grid;
  grid-template-rows: 70px;
  grid-template-columns: repeat(3, 240px);
  gap: 0px;

  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  font-size: 24px;
  font-weight: 100;
}

.mainCard{
  width: fit-content;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  border-color: white;
  border-style: solid;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 30px -5px rgba(181,181,181,0.8); 
  box-shadow: 0px 0px 30px -5px rgba(181,181,181,0.8);
}

.mainCard-layout{
  display: grid;
  grid-template-rows: 200px 150px;
  gap: 0px;

  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  font-size: 27px;
}

.today-layout{
  display: grid;
  grid-template-rows: 50px 100px;
  grid-template-columns: 1fr;
  gap: 0px;
}

.forecast-layout{
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(4, 180px);
  gap: 0px;

  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.forecastItem-layout{
  display: grid;
  grid-template-rows: 45px 60px 45px;
  grid-template-columns: 100px;
  gap: 0px;

  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected {
  font-weight: bold;
  color: rgb(95, 176, 232);
}

.forecastItemDay{
  font-weight: 100;
  font-size: 20px;
}

.forecastItemTemp{
  font-weight: 500;
  font-size: 20px;
  height: 45px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.todayWeather{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 100px;
  gap: 0px;
}

.todayWeatherText{
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 100px;
  gap: 0px;
}

.todayTemp{
  font-weight: 500;
  font-size: 48px;
}

.todayDay{
  font-weight: 100;
  font-size: 22px;
}

.todayDesc{
  font-weight: 100;
  font-size: 22px;
}

.centerComponents{
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.verticalAlign{
  margin: auto;
}

.forecast-layout > * {
  width: 180px;
  height: 148px;
  border-bottom: none;
  border-color: white;
  border-right-style: solid;
  border-top-style: solid;
}

.forecast-layout > div:first-of-type { 
  border-left: none;
}

.forecast-layout > div:last-of-type { 
  border-right: none;
}